<a href="/" class="back">Sign in</a>
<h1>About Pet Off</h1>
<br>
<p>Pet Off* was inspired by unoptimised results of animals on image-viewing apps like Instagram and Pinterest. </p>
<br>
<p>As a crowd sourced platform, you can upload images of your pet, rate other pets, and have others rate yours. </p>
<br>
<p>Pets with the highest number of 'pats' per hour take their spot on the Wall of Fame. </p>
<br>
<br>
<p>*credits to DT for name invention</p>
