<a href="/user" class="back">Uploads</a><span style="color: white;"> | </span>
<a href="/animals" class="pet_creature">Pet a creature</a> 

<h1>Your current uploaded pics</h1>
<p>Click on an image to edit</p>

<div class="account_imgs">
	<% current_user.animals.each do |animal| %>
		<div class="account_btn_arrange">
			<p style="font-size: 12px"><%= animal.name %></p>
		<% animal.media.each do |upload| %>
			<form action="/account/<%= upload.animal_id %>/edit">
				<img class="image-edit" src="<%= upload.image %>" alt="">
			</form>
			<form action="/account/<%= upload.animal_id %>/delete" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete">
			</form>
		</div>
		<% end %>
	<% end %>
</div>




