<a href="/options">Go back</a> 
<h1>Go on, pet one</h1>

<div class='animal-show'>
	<form class="option" action="/likes" method="post">
		<input type="hidden" name="animal_id" value="<%= @media[0].animal_id %>">
		<img style="cursor: pointer;" class="display-img" src="<%= @media[0].image %>" alt="pet">
	</form>

	<form class="option" action="/likes" method="post">
		<input type="hidden" name="animal_id" value="<%= @media[1].animal_id %>">
		<img style="cursor: pointer;" class="display-img" src="<%= @media[1].image %>" alt="pet">
	</form>
</div>
