<a href="/options">Go back</a> 
<h1>Go on, pet one</h1>

<form class='animal-show' action="">
	<img src="<% Medium.get_media %>" alt="">
</form>

<form class='animal-show' action="">
	<img src="<% Medium.get_media %>" alt="">
</form>


<!-- selected image needs to store in selection array to keep track of animal's popularity  -->