<form class="upload_images" action="/user/media/another" method="post">
	<input type="hidden" name="animal_id" value="<%= @animal_id %>">
	<label class="media">Add an image </label>
	<input name="image" type="text">
	<button class="media-upload-btn">Add another</button>
</form>

<br>
<a href="/account"">No thanks, we're famous enough</a>