<a href="/" class="back">Go back</a>
<h1>Edit</h1>

<form action="/account/<%= @animal.id %>" method="post">
	<input type="hidden" name="_method" value="put">
	<label for="">Name</label>
	<input name="name" type="text" value="<%= @animal.name %>">
	<label for="">Image url</label>
	<input name="image_url" type="text" value="<%= @animal.media[0].image %>">
	<button>Update</button>
</form>