<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pet Off</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
</head>
<body>
	<form action="/animals">
		<img style="cursor: pointer;" class="logo" src="/images/logo.png">
	</form>

  	<%= yield %>
	
	<footer>	
		<p>Wall of Fame @ <%=Time.now.strftime("%I:%M:%S%P")%></p>
		<div class="timer"></div>
	</footer>
	<div class="popular_images">
		<% Like.select(:animal_id, 'COUNT(*)').group(:animal_id).order(count: :desc).limit(5).each do |like| %>
		<img src="<%= like.animal.media[0].image %>" alt="popular">
		<% end %>
	</div>
	<script src="/javascripts/application.js"></script>
</body>
</html>

