<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pet Off</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
</head>
<body>
	<img class="logo" src="/images/logo.png">


  	<%= yield %>
	
	<footer>	
		<p>Wall of fame</p>
		<%=Time.now.strftime("%I:%M:%S%P")%>
	</footer>
	<div class="popular_images">
		<% Medium.all.first(5).each do |animal|%>
			<img class="popular" src="<%= animal.image %>" alt="popular">
		<% end %>
	</div>
	<script src="/javascripts/application.js"></script>
</body>
</html>