<h1>Sign in</h1>

<!-- or take user to another page to sign up -->

<form class="sign-in" action="/session" method="post">
	<label class="email-input">email</label>
	<input type="email" name="email">
    <label class="password-input">password</label>
	<input type="password" name="password">
	<button class="sign-in-btn">login</button>
</form>