<a href="/about" class="about">About us</a>
<p>Don't have an account? <a href="/signup" class="sign-up" > Sign up!</a></p>

<h1>Sign in</h1>

<!-- or take user to another page to sign up -->

<form class="sign-in" action="/session" method="post">
	<label class="email-input">Email</label>
	<input type="email" name="email">
    <label class="password-input">Password</label>
	<input type="password" name="password">
	<button class="sign-in-btn">Login</button>
</form>