<a href="/" class="back">Go back</a><span style="color: white;"> | </span>
<a href="/account" class="account">My account</a> 
<section class="options">
	<a href="/user">Upload</a>
	<a href="/animals">Pet off</a>
</section>