<a href="/">log out</a><span style="color: white;"> | </span>
<a href="/animals">I want to pet a creature</a> 

<h1>Hello *current user* </h1>

<form class="upload" action="/user" method="post">
	<p>Tell us about your pet</p>
	<label class="pet-name">Name</label>
	<input name="name" type="text">

	<label class="species">Species</label>
	<input name="species" type="text">
	<button class="next-btn">next</button>
</form>