* {
	box-sizing: border-box;
	font-family: 'Asap', sans-serif;
}

body {
	background-color: #D3D3D3;
	text-align: center;
/*	background-image: url("http://cdn.onlinewebfonts.com/svg/img_74607.png");*/
}

.logo {
    position: absolute;
    top: 1em;
    left: 2em;
    width: 130px;
    height: 130px;
}

.about {
	text-decoration: none;
	position: absolute;
    top: 1em;
    right: 5em;
}

.about-para {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 40%;
	font-size: 18px;
}

form {
	font-size: 26px;
}

.sign-in, .upload {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	width: 20%;
	font-size: 26px;
}

.upload_images {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	margin-top: 3em;
	width: 20%;
	font-size: 26px;
}

.signup {
	margin-top: 3em;
}

.signup-btn, .sign-in-btn {
	width: 6em;
	margin: 0 auto;
	margin-top: 2em;
	height: 2em;
	border-radius: 10px;
	font-size: 16px;
	transition: .2s ease;
}

.signup-btn:hover, .sign-in-btn:hover, .media-upload-btn:hover, .next-btn:hover  {
	background-color: salmon;
}

.next-btn, .media-upload-btn {
	height: 2em;
	width: 5em;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 2em;
	font-size: 14px;
	transition: .2s ease;
}

.media-upload-btn {
	width: 60%;
	margin: 0 auto;
	margin-top: 2em;
}


.back, .account, .pet_creature, .logout, .sign-up, .about {
	margin-top: 5em;
	text-decoration: none;
	font-size: 20px;
}

.email-input, .password-input, .pet-name, .species, .media {
	margin: .7em;
}

.options {
	width: 40em;
	margin: 0 auto;
	margin-top: 8em;
	display: flex;
	justify-content: space-around;
}

.options > a {
	font-size: 40px;
	text-decoration: none;
	margin: 80px;
	color: white;
	border: 10px solid #D3D3D3;
	transition: .2s ease;
}

.options > a:hover {
	border-color: salmon;
	padding: 10px;
}


.account_imgs {
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	width: 80%;
}

.image-edit {
	height: 4em;
	width: 4em;
	cursor: pointer;
}


.account_btn_arrange {
	display: flex;
	flex-direction: column;
}

.animal-show {
	width: 50em;
	margin: 0 auto;
	margin-top: 7em;
	display: flex;
	justify-content: space-around;
}

.animal-show > form > img {
	height: 10em;
	width: 10em;
	border-radius: 10px;
	transition: .2s ease;
}

.animal-show > form > img:hover {
	padding: 5px;
}

footer {
	color: salmon;
	text-shadow: 10px 10px 40px #aa8d44;
	font-size: 24px;
    width: 100%;
    position:fixed;
    bottom: 10em;
}

.popular_images {
	display: flex;
	position: absolute;
	justify-content: space-around;
	bottom: 4em;
	width: 100%;
}

.popular_images > img {
	align-self: flex-end;
	border-radius: 5px 20px 5px;
	height: 10em;
	width: 10em;
}


