* {
	box-sizing: border-box;
	font-family: 'Asap', sans-serif;
}

body {
	background-color: #C0C0C0;
	text-align: center;
/*	background-image: url("http://cdn.onlinewebfonts.com/svg/img_74607.png");*/
}

.logo {
    position: absolute;
    top: 1em;
    left: 2em;
    width: 130px;
    height: 130px;
}

.about {
	text-decoration: none;
	position: absolute;
    top: 1em;
    right: 5em;
}


.sign-in, .upload, .upload_images {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	width: 20%;
	font-size: 22px;
}

.signup {
	margin-top: 3em;
}

.back, .account, .pet_creature, .logout {
	text-decoration: none;
}

.email-input, .password-input, .pet-name, .species, .media {
	margin: .7em;
}

.next-btn {
	height: 2em;
	width: 5em;
	text-align: center;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 2em;
}

.sign-in-btn {
	width: 6em;
	margin: 0 auto;
	margin-top: 2em;
	height: 2em;
	border-radius: 10px;
}

.options {
	width: 40em;
	margin: 0 auto;
	margin-top: 8em;
	display: flex;
	justify-content: space-around;
}

.options > a {
	font-size: 40px;
	text-decoration: none;
	margin: 80px;
	color: white;
}

.media-upload-btn {
	width: 60%;
	margin: 0 auto;
	margin-top: 2em;
}

.account_imgs {
	display: flex;
	margin: 0 auto;
}

.image-edit {
	border-radius: 10px;
	height: 10em;
	width: 10em;

}
.account_btn_arrange {
	display: flex;
	flex-direction: column;
}


.animal-show {
	width: 40em;
	margin: 0 auto;
	margin-top: 5em;
	display: flex;
	justify-content: space-around;
}

.animal-show > form > img {
	border: 10px solid #C0C0C0;
	height: 15em;
	width: 15em;
	border-radius: 10px;
}

.animal-show > form > img:hover {
	border-color: salmon;
	padding: 5px;
}

footer {
	color: gold;
	text-shadow: 10px 10px 40px #aa8d44;
	font-size: 24px;
    width: 100%;
    position:fixed;
    bottom: 10em;
}

.popular {
	border-radius: 50%;
	height: 9em;
	width: 9em;
}

.popular_images {
	margin-right: 50px;
	position: absolute;
    bottom: 3em;
}


